body {
    background-color:black ;
}


.header{
    background-color: #8B1103;
    color:#FFDE01;
    width:100%;
    height: 40px;
    text-align: center;
    font-size: xx-large;
    font-family:fantasy;
}

.navbar{
    width: 100%;
    height:20px;
    background-color: #510707;
    text-align: right;
    color: black;
   
}

.maincontainer {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.cardone {
background-color: #AF3B0F;
width: 300px;
height:400px;
margin: 15px;
border-radius: 10px;
}

.image {
    background-color: black;
    height: 150px;
    margin:10px;
    background-size: cover;
}

.imageone {
    background-image: url('https://pm1.narvii.com/5984/14968be6d47e3dc943c72899634a5387c9b14482_hq.jpg');
}

.cardtwo {
    background-color: #510707;
    width: 300px;
    height:400px;
    margin: 15px;
    border-radius: 10px;
    }
    .imagetwo {
        background-image: url('https://th.bing.com/th/id/R.6d7fc3e6ff7adebdb7f5a8596222c4d5?rik=BPCtWMwH04wkbA&riu=http%3a%2f%2filarge.lisimg.com%2fimage%2f5933776%2f740full-mikasa-ackerman.jpg&ehk=ZoVgVUrQUn85oOOIxviyauBwtRjoR6Z5g4T%2brHcfpME%3d&risl=&pid=ImgRaw&r=0');
    }

    .cardthree {
        background-color: #AF3B0F;
        width: 300px;
        height:400px;
        margin: 15px;
        border-radius: 10px;
        font-size: smaller;
        }
        .imagethree {
            background-image: url('https://i.pinimg.com/736x/92/d3/09/92d3093c854a76192435dd241a185035.jpg'); }


        .cardfour{
            background-color: #510707;
            width:300px;
            height:400px;
            margin:15px;
            border-radius: 15px;
        }
        .imagefour {
            background-image: url('https://th.bing.com/th/id/OIP.noLvz4ohk3DGyHmawjlx_wHaHa?pid=ImgDet&rs=1')}
           
        .cardfive {
            background-color: #AF3B0F;
            width:300px;
            height:400px;
            margin:15px;
            border-radius: 15px;
        }
        .imagefive {
            background-image: url('https://i.pinimg.com/736x/55/c2/bb/55c2bb8d0383ffbbc8d7146cc8020cb7.jpg');
        }

        .cardsix{
            background-color: #510707;
            width:300px;
            height:400px;
            margin:15px;
            border-radius: 15px;
        }
        .imagesix {
            background-image: url('https://i.pinimg.com/originals/aa/30/15/aa30156fd76108f3db818007f5c4be52.jpg');
        }


    .cardone:hover{
        background-color:#510707;
        color: white;
        cursor: pointer;
        transform: scale(1.02);
        transition: all .5s ease-in;
            }

     .cardtwo:hover{
    background-color:#AF3B0F;
     color: white;
     cursor: pointer;
     transform: scale(1.02);
     transition: all .5s ease-in;

           }
       
.cardthree:hover{
    background-color:#510707;
    color: white;
    cursor: pointer;
    transform: scale(1.02);
    transition: all .5s ease-in;
}

.cardfour:hover{
    background-color:#AF3B0F;
     color: white;
     cursor: pointer;
     transform: scale(1.02);
     transition: all .5s ease-in;

           }

.cardfive:hover{
    background-color:#510707;
    color: white;
    cursor: pointer;
    transform: scale(1.02);
    transition: all .5s ease-in;
        }

.cardsix:hover{
    background-color: #AF3B0F;
    color:white;
    cursor: pointer;
    transform: scale(1.02);
    transition: all .5s ease-in;
}